<div class="container" style="margin-top: 20px;">
  <h1 class="title">Pivot Example</h1>
  <!-- <h2 class="subtitle">
    This is an example of each data row cell customize rendering giving a
    different data display and style change (api fetching data).
  </h2> -->
  <div style="margin-bottom: 5px;">
    <button (click)="onBtNormal()">1 - Grouping Active</button>
    <button (click)="onBtPivotMode()">
      2 - Grouping Active with Pivot Mode
    </button>
    <button (click)="onBtFullPivot()">
      3 - Grouping Active with Pivot Mode and Pivot Active
    </button>
  </div>
  <div>
    <ag-grid-angular
      #agGrid
      style="width: 1500px; height: 750px; padding-top: 10px;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [sideBar]="sideBar"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
