<!-- NAVIGATION -->
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        routerLink="/"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navbar-item"
      >
        Home
      </a>
      <a routerLink="/one" routerLinkActive="is-active" class="navbar-item">
        One
      </a>
      <a routerLink="/two" routerLinkActive="is-active" class="navbar-item">
        Two
      </a>
      <a routerLink="/three" routerLinkActive="is-active" class="navbar-item">
        Three
      </a>
      <a routerLink="/four" routerLinkActive="is-active" class="navbar-item">
        Four
      </a>
      <a routerLink="/five" routerLinkActive="is-active" class="navbar-item">
        Five
      </a>
    </div>
  </div>
</nav>
<!-- NAVIGATION -->

<router-outlet></router-outlet>
